<div>

    <div class="row cvbanner">
        <div class="col">
            <img [src]="mypict" class="profpict" (click)="navigate('https://www.linkedin.com/in/jonathan-pirau-918631114/')">
        </div>
        <div class="col">
            <h1>PIRAU Jonathan</h1>
            <h2>FullStack Developer</h2>
            <h2>IT Consultant</h2>
        </div>
    </div>
    <div class="disclaimer">
        <h1>Professional experience and education</h1>
    </div>
    <div class="row workbanner">
        <div class="col">
            <img [src]="arhspict" class="workpict" routerLink="arhs">
            <p>IT Consultant for Arhs Cube</p>
            <p>September 2016 - Now </p>
        </div>
        <div class="col">
            <img [src]="unifrpict" class="workpict">
            <p>Research Intern at UniFr</p>
            <p>September 2015 - December 2015</p>
        </div>
        <div class="col">
            <img [src]="unamurpict" class="workpict">
            <p>Student at Unamur</p>
            <p>2010 - 2016</p>
        </div>
    </div>
</div>
<h1>Main Skills Radar :</h1>
<div class="toocontainer">
    <div *ngIf="show" class="underlinetext">{{descr}}</div>
</div>
<div  class="grid">
    <div *ngFor="let tes of Imgs" class="gridcase">
        <img src="{{tes.url}}" class="skillpict" (mouseenter) ="mouseEnter(tes.name) "  (mouseleave) ="mouseLeave('div A') " (click)="navigate(tes.key)">
    </div>
</div>

<h1>Also provident with:</h1>
